body{
    margin: 0;
    padding: 0; 
}
#header-heads{
    width: 100%;
    height: 40px;
    background-color:black;
}
#header-heads .row{
    width: 90%;
    margin: 0 auto;
}
#heads-share{
    height: 40px;
}
#heads-online{
    height: 40px;
}
#heads-share .container{
    width: 100%;
    height: 40px;
}
.share-a-1{
    width: 20px;
    height:40px;
}
.share-a-1 i{
    font-size: 13px;
    color: white;
    line-height: 40px;
}
.share-a-1 i:hover{
    color: #fe6367;
    opacity: 0.7;
}
.online-login,#online-shop{
    display: inline-block;
    height: 40px;
}
.online-support{
    float: right;
}
.online-login{
    margin-right: 20px;
    cursor: pointer;
}
.online-user{
    margin-right: 20px;
    cursor: pointer;
}
/* .header-quit{
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.quit-btn{
    color: white;
    font-size: 12px;
}
.quit-btn:hover{
    color: white;
    text-decoration: none;
} */
#online-shop{
    cursor: pointer;
}
.online-login a:hover{
    color: white;
    text-decoration: none;
}
.online-login a,#online-shop a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    line-height: 40px;
}

.login-shows{
    border: 0;
    background-color: white;
}


/* ----------------------------------- */
.login-box-hide{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: rgba(255,255,255,0.7);
    position: absolute;
    
}
.login-box-login{
    margin: 0 auto;
    margin-top: 70px;
    width: 400px;
    height: 450px;
    background-color: white;
}
.login-box-headers{
    width: 340px;
    height: 120px;
    margin: 0 auto;
}
.login-box-close{
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    transform: translate(150px,-70px);
}
.login-box-close button{
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    color: white;
}
button:focus {
    outline: 0!important;
}
.close span{
    display: inline-block;
    color: white;
    margin-left: 6px;
    transform: translateY(-3px);
}
.login-box-headers h4{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
}
.login-box-error{
    height: 20px;
    color: red;
    text-align: center;
    transform: translateY(10px);
}
.login-box-center{
    width: 340px;
    height: 230px;
    margin: 0 auto;
    border-top: 1px solid #d5d5d5;
}
#username,#password{
    width: 100%;
    height: 37px;
    border: 1px solid #d5d5d5;
}
.login-center-box label{
    display: inline;
    font-weight: 500;
    font-size: 10px;
}
.login-uname,.login-psw{
    margin-top: 14px;
}
.login-uname span,.login-psw span{
    font-weight: 900;
    font-size: 12px;
}
.login-check-box{
    width: 70px;
    cursor: pointer;
    margin-top: 5px;
}
.login-check-box input{
    margin-top: 2px;
}
.login-check-box span{
    display: inline-block;
    font-size: 12px;
    margin-top: -2px;
}
.login-helplink{
    float: right;
}
.login-box-help{
    cursor: pointer;
}
.login-helplink a,.login-box-help a{
    color: black;
    text-decoration: none;
    font-size: 12px;
}
.login-helplink a:hover,.login-box-help a:hover{
    color: #FE6367;
    text-decoration: none;
}
.login-box-footer{
    width: 400px;
    height: 100px;
    background-color: #F6F6F6;
}
.login-box-footer-color{
    width: 340px;
    height: 100px;
    margin: 0 auto;
}
.login-box-help{
    margin-top: 39px;
    float: left;
}
.login-box-submit{
    margin-top: 30px;
    float: right;
}
.login-box-submit button{
    width: 84px;
    height: 36px;
    border: 1px solid black;
    background-color: white;
}
/* ----------------------------------- */
.regin-box-hide{
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
    position: absolute;
    background: rgba(255,255,255,0.7);
}
.regin-box-regin{
    margin: 0 auto;
    margin-top: 70px;
    width: 400px;
    height: 450px;
    background-color: white;
}
.regin-box-headers{
    width: 340px;
    height: 120px;
    margin: 0 auto;
}
.regin-box-headers h4{
    text-align: center;
    font-weight: 900;
    font-size: 25px;
    line-height: 40px;
}
.regin-box-center{
    width: 340px;
    height: 230px;
    margin: 0 auto;
    border-top: 1px solid #d5d5d5;
}
.regin-box-error{
    height: 20px;
    color: red;
    text-align: center;
    transform: translateY(10px);
}
.regin-uname,.regin-psw{
    margin-top: 14px;
}
#regin_username,#regin_password{
    width: 100%;
    height: 37px;
    border: 1px solid #d5d5d5;
}
.regin-relogin{
    font-size: 12px;
    cursor: pointer;
}
.regin-relogin:hover{
    color: #fe6367;
}
.regin-box-submit{
    display: inline-block;
    margin-top: 30px;
    margin-left: 285px;
}
.regin-box-submit button{
    width: 84px;
    height: 36px;
    border: 1px solid black;
    background-color: white;
}
.regin-box-footer{
    width: 400px;
    height: 100px;
    background-color: #F6F6F6;
}
.regin-box-footer-color{
    width: 340px;
    height: 100px;
    margin: 0 auto;
}
/* =================================== */

 @media (min-width :900px) and (max-width :1200px) {
    #share-a6,#share-a1,#share-a2,#share-a3,#share-a4,#share-a5{
        margin-left: -10px;
        margin-right: 5px;
    }
 }
 @media (max-width :899px) {
     #header-heads{
        display: none;
     }
 }

 /* @media (max-width :880px) {
    #header-heads .row{
        width: 100%;
        margin: 0 auto;
    }
    #share-a6,#share-a1,#share-a2,#share-a3,#share-a4,#share-a5{
        margin-left: -10px;
        margin-right: 2px;
    }
 } */